@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,200&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(32, 32, 32);
    font-family: 'Poppins' ;
}
header{
    color: azure;
    text-align: center;
    margin-top: 30px;
}
button{
    cursor: pointer;
}
.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 15px 30px;
}
.kanban .container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.taskbox{
    background-color: rgb(206, 210, 210);
    flex: 1;
    padding: 30px;
    border-radius: 10px;
}
.title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.title span{
    background-color: rgb(230, 184, 47);
    width: 20px;
    height: 20px;
    padding: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}
.cards{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.card{
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 1px 6px 19px -6px rgba(0,0,0,0.5);
}
.card > div{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}
.task-id{
    font-size: 12px;
    background-color: rgb(230, 184, 47);
    padding: 5px;
    border-radius: 10px;
}
.hide{
    display: none;
}
.card input{
    width: 100%;
    padding: 8px;
    color: #000;
    border: none;
    box-shadow: 1px 6px 19px -6px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.card button{
    padding: 5px;
    border: none;
    font-size: 14px;
}
.card .delete{
    background-color: rgb(243, 83, 83);
    color: #fff;
}
.card .edit{
    color: #fff;
    background-color: #5d5d5d;
}

form.add{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
}
form.add input{
    padding: 8px;
    border-radius: 10px;
    border: none;
    width: 100%;
}
form.add button{
    background-color: rgb(20, 161, 25);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
}